#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Contenedor general */
.container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: #333;
}

/* La Tarjeta Blanca */
.main-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden; /* Para que los bordes de la tabla no sobresalgan */
  padding: 10px;
}

/* Estilo de la Tabla */
.product-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.product-table th {
  padding: 15px;
  border-bottom: 2px solid #eee;
  color: #000000;
}

.product-table td {
  padding: 15px;
  border-bottom: 1px solid #eee;
  color: #0e0d0d;
}

.parent {
  display: grid;
  grid-template-columns: 5fr 1fr; /* 2 columnas: Principal ancha, Lateral estrecha */
  grid-template-rows: 100px 50px 500px; /* Encabezado auto, Centro expandible, Pie auto */
  min-height: 50px; /* IMPORTANTE: Altura completa */
  gap: 50px; /* Un poco de espacio se ve mejor */
}

/* Encabezado (ocupa todo el ancho) */
.div1 { 
  grid-column: 1 / -1; /* De la línea 1 a la última */
  grid-row: 1 / 2;
}

/* Contenido Principal (Izquierda) */
.div3 { 
  grid-column: 1 / 2; 
  grid-row: 2 / 3;
}

/* Barra Lateral (Derecha) */
.div2 { 
  grid-column: 2 / 3; 
  grid-row: 2 / 3;
}

/* Pie de página (Ocupa todo el ancho) */
.div4 { 
  grid-column: 1 / -1; 
  grid-row: 3 / 4;
}